<a href="https://colab.research.google.com/github/monte137/Modulo2Implementacion/blob/main/ImplementacionM2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount("/content/gdrive")  
!pwd

Mounted at /content/gdrive
/content

Se importan los datos a utilizar, y se les asignan nombres a cada una de las columnas. En este caso se utiliza un dataset de caracteristicas de vinos, donde apartir de estas, se clasifican en 3 diferentes clases.

In [2]:
%cd "/content/gdrive/MyDrive/ConcentracionCienciaDeDatos"
!ls
import pandas as pd
from sklearn import tree
columns= ["Class","Alcohol","Malic acid", "Ash","Alcalinity of ash", "Magnesium","Total phenols",
           "Flavanoids","Nonflavanoid phenols","Proanthocyanins","Color intensity","Hue",
           "OD280/OD315 of diluted wines","Proline"]
df= pd.read_csv('wine.data',names= columns)
df.head()

/content/gdrive/MyDrive/ConcentracionCienciaDeDatos
adult.data	 iris.data   milknew.csv  Modulo3  Valhalla23.csv  wine.names
DatosTarea.xlsx  iris.names  Modulo2	  Reto1    wine.data

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

Se eliminan las clases OD280... y Proline del conjunto de datos. Y se separan los datos en x, & y, en este caso los valores objetivo o clase.

In [3]:
df_x= df.drop(['Class','OD280/OD315 of diluted wines','Proline'],axis=1)
df_y= df['Class']
from sklearn.model_selection import  train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,train_size=.7)

Se inicializa el modelo de regresion logistica con iteraciones maximas de , para evitar el overfitting

In [5]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression(max_iter=150)
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=150)

Estos son los puntajes obtenidos para train y para test.

In [10]:
scoretrain=model.score(x_train,y_train)
scoretest=model.score(x_test,y_test)
print('El score obtenido en los datos de entrenamiento es:',scoretrain,'\n')
print('El score obtenido en los datos de test es:',scoretest)

El score obtenido en los datos de entrenamiento es: 0.9354838709677419

El score obtenido en los datos de test es: 0.9444444444444444